.underline-projects {
    text-decoration: underline;
    font-size: larger;
}
.text-box{
    padding-left: 5%;
    width: 50%;
    z-index: 0;
}
ul li {
    padding: 5px;
}
.list-links a{
    color: black !important;
    text-decoration: underline !important;
}
.font-style-text{
    font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 890px){
    .text-box{
        width: 70%;
    }
}
@media (max-width: 450px){
    .text-box{
        padding-top: 0%;
        width: 85%;
    }
}





