.underline-homepage {
    text-decoration: underline;
    font-size: larger;
}
.image { 
    grid-area: image;
}
.about { 
    grid-area: about;
    padding-left: 30px;
}
img{
    border-radius: 8px;
    height: auto;
    max-width: 100%;
}
.about-me-container {
    display: grid;
    grid-template-areas:
        'image about';
    grid-template-columns: 50% 50%;
}
.about-me-header{
    text-align: center;
}
.about-me-body{
    text-align: left;
}
.about-font-style{
    font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 450px){
    .about-me-container{
        display: flex;
        flex-direction: column;
    }
    .about { 
        padding: 5px;
    }
    .about-me-header{
        text-align: left;
    }
}




