.underline-contact {
    text-decoration: underline;
    font-size: larger;
}
.image { 
    grid-area: image;
}
.contact { 
    grid-area: about;
    padding: 30px;
}
img{
    border-radius: 8px;
    height: auto;
    max-width: 100%;
}
.contact-container {
    display: grid;
    grid-template-areas:
        'image about';
    grid-template-columns: 50% 50%;
}
.contact-header{
    text-align: center;
}
.table-links a{
    color: black !important;
    text-decoration: underline !important;
}
td, th {
    padding: 1rem;
}
.about-font-style{
    font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 890px){
    .contact-container{
        display: flex;
        flex-direction: column;
    }
    .contact { 
        padding: 5px;
    }
}
