.name-button { 
    grid-area: name;
}
.projects-button { 
    grid-area: projects;
}
.cooking-button { 
    grid-area: cooking;
}
.contact-button { 
    grid-area: contact;
}
.nav-bar-container {
    display: grid;
    position: sticky;
    top: 0%;
    z-index: 100;   
    grid-template-areas:
        'name projects cooking contact';
    grid-template-columns: 4fr 1fr 1fr 1fr;
    height: 100px;
    grid-gap: 10px;
    background-color: rgba(109, 242, 242, 1);
    border-radius: 8px;
    margin-bottom: 20px;
}
.button-format {
    display: flex;
    justify-content: center;
    align-items: center;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color:  white;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: none;
  }
.underline-contact {
    text-decoration: underline;
    font-size: larger;
}
.font-style{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.image { 
    grid-area: image;
}
.contact { 
    grid-area: about;
    padding: 30px;
}
img{
    border-radius: 8px;
    height: auto;
    max-width: 100%;
}
.contact-container {
    display: grid;
    grid-template-areas:
        'image about';
    grid-template-columns: 50% 50%;
}
.contact-header{
    text-align: center;
}
.table-links a{
    color: black;
    text-decoration: underline;
}
td, th {
    padding: 1rem;
}


